#root {
  max-width: 1280rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  
  
}
.pad {
  width: 200px;
  height: 200px;
  
}
.pad-0{
  border-top-left-radius: 250px;
}
.pad-1{
  border-top-right-radius: 250px ;
}
.pad-2{
  border-bottom-left-radius: 250px ;
}
.pad-3{
  border-bottom-right-radius: 250px ;
}
